<div *ngIf="isAuthorized()">
    
    <nav class="navbar navbar-expand-lg navbar-dark "  >
        <div class="container-fluid">
             <!-- <a class="navbar-brand theme-text" href="#">
                &nbsp;Better Home</a> -->
                <h1 class="text-white display-5 fw-bold" routerLink="/user/question-home" >IET<span class="theme-text">Lingo</span></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()" >
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <img src="{{social_user.photoUrl}}" width="30" alt="" style="border-radius: 100%;">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg"  class="nav_svg" height="1em" viewBox="0 0 448 512"><path d="M0 80c0-8.8 7.2-16 16-16H432c8.8 0 16 7.2 16 16s-7.2 16-16 16H16C7.2 96 0 88.8 0 80zM0 240c0-8.8 7.2-16 16-16H432c8.8 0 16 7.2 16 16s-7.2 16-16 16H16c-8.8 0-16-7.2-16-16zM448 400c0 8.8-7.2 16-16 16H16c-8.8 0-16-7.2-16-16s7.2-16 16-16H432c8.8 0 16 7.2 16 16z"/></svg>     -->
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 cen">
                    
                  <li class="nav-item">
                    <a class="nav-link transform" routerLink="/user/details" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg> Home</a>
                  </li>
                    <li class="nav-item">
                      
                        <a class="nav-link transform" href="/" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg> Log out</a>
                    </li>
                    
                </ul>
      
            </div>
        </div>
        <a class="navbar-brand user_details" id="hide">
          <img  src="{{social_user.photoUrl}}" width="30" class="d-inline-block align-top" style="border-radius: 100%;"/>
    
          {{social_user.email}}
        </a>
      </nav>
    
      <div>
        
      </div>
    
    </div>
    <div *ngIf="!isAuthorized()?navigation():null">
      
    </div>